* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksan", sans-serif;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  gap: 30px;
}

.formulario {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 10px;
  background-color: rgb(242, 242, 242);
  padding: 4rem 2rem;
  border-radius: 1rem;
}

.btn-agregar {
  margin-top: 30px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: rgb(198, 199, 194);
  font-size: 15px;
  font-weight: bold;
  color: white;
}

.table {
  display: table;
  border: 2px solid #000;
  width: 333px;
  text-align: center;
  margin: 0 24px;
}

.contentList {
  display: table-row;
}

.column {
  display: table-cell;
  border: 1px solid #000;
  vertical-align: middle;
  padding: 10px;
}

.formulario input {
  border-radius: 10px;
  padding: 7px;
  border: none;
  background-color: rgb(255, 255, 255);
}

.formulario label {
  font-size: 15px;
  font-weight: 500;
}

.title {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 20px;
  font-weight: bold;
}

.table {
  display: table;
  border: none;
}

.head {
  display: table-row;
  font-weight: bold;
  text-align: center;
}

.cell {
  display: table-cell;
  border: 1px solid rgb(132, 130, 130);
  border-width: thin;
  padding: 10px;
}

.row {
  display: table-row;
}
